{% extends "::base.html.twig" %}

{% block headTitle %}MetinetAppBundle:Fact:home{% endblock %}

{% block body %}
<h1>Welcome to the Fact:home page</h1>
    {% for fact in facts %}
        {% include 'MetinetAppBundle:Fact/partials:factItem.html.twig' %}
    {% endfor %}
{% endblock %}
