{% extends "::base.html.twig" %}

{% block headTitle %}Random fact{% endblock %}

{% block body %}
    <h1>Random fact</h1>
    {% include 'MetinetAppBundle:Fact/partials:factItem.html.twig' %}
{% endblock %}